body {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    font-weight: 300;
    color: #929292;
}

::selection {
    background-color: #ec2027;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #000;
}

a {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    outline: 0;
    color: #000;
}

a:hover {
    outline: none;
    color: #1d1d1d;
    text-decoration: none;
}



img:not(table img) {
    max-width: 100%;
}

iframe {
    border: 0;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

p {
    font-size: 16px;
    color: #757576;
}

figure {
    margin: 0 auto;
    display: block;
    text-align: center;
}

body.scroll-off {
    overflow: hidden;
}


.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}



/*==================== Header Start ===================*/

#header {
    height: 85px;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    background: 0 0 !important;
    background-color: #fff !important;
}

#header.is-sticky {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 65px;
    border-bottom: 1px solid #ededed;
}

#header.is-sticky.awake {
    transform: translateY(0%);
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}


/*==================== Header End ===================*/





